Options All -Indexes

RewriteEngine On
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [L]

# Custom 404 error page
ErrorDocument 404 /CP-Antara/404.php

# uri with query parameters
RewriteRule ^product/([^/]+) product.php?productId=$1 [NC]
RewriteRule ^article/([^/]+) article.php?page=$1 [NC]