@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-280px * 7));
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(calc(-280px * 7));
  }

  100% {
    transform: translateX(0);
  }
}

.product-card:hover {
  scale: 1.1;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .clients-style-one-area.inc-border img {
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    padding: 15px 15px;
    background: #fdfdfd;
    height: 100px;
    width: 180px;
    object-fit: contain;
  }

  .clients-style-one-box {
    display: flex;
    flex-direction: column;
  }
}